{% extends 'template.html' %} {% load bootstrap %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>
                <center>Subnet Calculator</center>
            </h1>
            </br>

            <form method='POST'>
                {% csrf_token %} 
                {{ form|bootstrap }}
                
                <button type="submit" class="btn btn-primary">Calculate</button>
            </form>

        
        <br/>
        {% if data %}
            <table class='table'>
                <tbody>
                    <tr> <th width='50%'>IP Address</th> <td width='50%'> {{ data.ip_address }} </td> </tr>
                    <tr> <th>Network Address</th> <td> {{ data.network_address }} </td> </tr>
                    <tr> <th>Usable Host IP Range</th> <td> {{ data.host_ip_range }} </td> </tr>
                    <tr> <th>Broadcast Address</th> <td> {{ data.broadcast_address }} </td> </tr>
                    <tr> <th>Total Number of Hosts</th> <td> {{ data.number_of_host }} </td> </tr>
                    <tr> <th>Number of Usable Hosts</th> <td> {{ data.number_of_usable_host }} </td> </tr>
                    <tr> <th>Subnet Mask</th> <td> {{ data.subnet_mask }} </td> </tr>
                    <tr> <th>Wildcard Mask</th> <td> {{ data.wildcard_mask }} </td> </tr>
                    <tr> <th>Binary Subnet Mask</th> <td> {{ data.binary_subnet_mask }} </td> </tr>
                    <tr> <th>IP Class</th> <td> {{ data.ip_class }} </td> </tr>
                    <tr> <th>CIDR Notation</th> <td> {{ data.cidr_notation }} </td> </tr>
                    <tr> <th>IP Type</th> <td> {{ data.ip_type }} </td> </tr>
                    <tr> <th>Short</th> <td> {{ data.short }} </td> </tr>
                    <tr> <th>Binary ID</th> <td> {{ data.binary_id }} </td> </tr>
                    <tr> <th>Integer ID</th> <td> {{ data.integer_id }} </td> </tr>
                    <tr> <th>Hex ID</th> <td> {{ data.hex_id }} </td> </tr>
                </tbody>
            </table>
        {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}